{% extends 'MagBundle::base.html.twig' %}
{% block title %} A propos du site Business Mag {% endblock %}
{% block pagetitle %} <h3> Ajout du champ A propos  </h3> {% endblock %}
{% block pagenav %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"> Footer </li>
        <li class="breadcrumb-item">A propos</li>
        <li class="breadcrumb-item active"><a href="{{ path('apropos_add') }}">Modification</a></li>
    </ul>
{% endblock %}
{% block body %}
    <style>
        #businessmag_magbundle_textedescriptif_description{
            width: 100%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            resize: none;
        }
    </style>


    <div class="container">

        <form action="{{ path('apropos_add') }}" {{ form_enctype(form) }} method="POST" >
            {{ form_widget(form) }}
            <br><br>

            {{ form_widget(form.Valider, {'attr': {'class': 'btn'}}) }}
            {#<input class="btn btn-primary" type="submit" value="Enregistrer" />#}
        </form>

    </div>

{% endblock %}

{% block javascript %}

    <script>
        CKEDITOR.replace( 'businessmag_magbundle_apropos[quiSommesNous]' );
    </script>
    <script>
        CKEDITOR.replace( 'businessmag_magbundle_apropos[mentionsLegales]' );
    </script>
    <script>
        CKEDITOR.replace( 'businessmag_magbundle_apropos[champsCGV]' );
    </script>
    <script>
        CKEDITOR.replace( 'businessmag_magbundle_apropos[champsCGU]' );
    </script>

{% endblock %}


