{% extends 'MagBundle::base.html.twig' %}
{% block title %} Devenir Partenaire {% endblock %}
{% block pagetitle %} <h3> Devenir Partenaire </h3> {% endblock %}
{% block pagenav %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"> Formulaire </li>
        <li class="breadcrumb-item">Devenir Partenaire</li>
        <li class="breadcrumb-item active"><a href="{{ path('devenirpartenaire_add') }}">Ajout</a></li>
    </ul>
{% endblock %}
{% block body %}



    <div class="container">

        <form action="{{ path('devenirpartenaire_add') }}" {{ form_enctype(form) }} method="POST" >
            {{ form_widget(form) }}
            <br><br>

            {{ form_widget(form.Valider, {'attr': {'class': 'btn'}}) }}
            {#<input class="btn btn-primary" type="submit" value="Enregistrer" />#}
        </form>

    </div>

{% endblock %}
