{% extends 'MagBundle::FormsBase.html.twig' %}
{% block title %} Historique Devenir Partenaire {% endblock %}
{% block body %}
    <h3>Historique Devenir Partenaire</h3>
    <div class="container">
        <table class="table table-striped table-bordered dataTable no-footer" role="grid" id="table1"  {#style="display: none "#}>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Fonction</th>
                <th>Téléphone portable</th>
                <th>Email</th>
                <th>Raison sociale</th>
                <th>Site web</th>
                <th>Téléphone fixe</th>
                <th>Email</th>
                <th>Proposition</th>
                <th>Image</th>
                <th>Date creation</th>
                <th> </th>

            </tr>
            </thead>
            {% for p in partenaire %}
                <tr>

                    <td>{{ p.nom }}</td>
                    <td>{{ p.fonction }}</td>
                    <td>{{ p.telPerso }}</td>
                    <td>{{ p.emailPerso }}</td>
                    <td>{{ p.raisonSocial }}</td>
                    <td>{{ p.siteWeb }}</td>
                    <td>{{ p.telPro }}</td>
                    <td>{{ p.emailPro }}</td>
                    <td>{{ p.proposition | slice(0, 20) ~ ' ...' }}</td>
                    <td><img src="{{ asset('uploads/' ~ p.Path) }}"  width="80" height="80"></td>
                    <td>{{ p.createdAt | date("m/d/Y H:i:s") }}</td>
                    <td><a href="{{ path('form_delete2', { 'id': p.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
            {% endfor %}

        </table>

        {#<td><a href="{{ path('td_add') }}"><span class="btn info" aria-hidden="true"> Ajouter </span></a></td>#}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#table1').dataTable( {
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
                }
            });
        } );


    </script>

{% endblock %}
