{% extends 'MagBundle::base.html.twig' %}
{% block title %} Modification d'un Article publié {% endblock %}

{% block body %}
    <h3> Modifier un article publié </h3>
    <form action="{{ path('published_edit',{'id': ids }) }}" {{ form_enctype(form) }} method="POST" >
        {{ form_widget(form) }}
        <br>
        <div class="clearfix">
            {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-primary'}}) }}

            {#<a id="delbtn" class='btn btn-primary' role="button" href="{{ path('published_delete', { 'id': ids }) }}">Supprimer</a>#}
        </div>
    </form>

{% endblock %}