{% extends '::front.html.twig' %}

  {% block body %}



   <div class="container-autofluid" > 

    <!-- debut de recherche -->





    <!-- fin rechereche  -->
     <br>
    <section id="fond-7" align="center">
        <div class="container" id="content-4">
            <div class="row">
              <div class="col-md-12 col-sm-12  " align="center">    
              </div>
            </div>
        </div>
    </section>
    
 	<div class="row">
 		<div class="col-md-4"></div>
 		<div class="col-md-4" style="padding: 1% 1% 1% 1%;background-color:black;color: white;text-align: center;font-weight: bold;"><span>Publier un article</span></div>
 		<div class="col-md-4"></div>

 	</div>
 
<br>

<!-- formualire -->
 	<div class="row">
 		<div class="col-md-3"></div>
 		<div class="col-md-6">
 		   		  
   
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  <div class="form-group">
    <label class="control-label col-sm-4" for="nom" style="text-align: left">Nom & Prénom</label>
    <div class="col-sm-8">
     {{form_widget(form.nom,{'label':'','id':'nom','attr': {'class':'form-control'}})}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="fonction" style="text-align: left">Fonction</label>
    <div class="col-sm-8"> 
      {{form_widget(form.fonction, {'label':'','id':'fonction', 'attr': {'class':'form-control'}})}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="telPerso" style="text-align: left">Téléphone</label>
    <div class="col-sm-8"> 
      {{form_widget(form.telPerso,{'label':'','id':'telPerso', 'attr': {'class':'form-control'}})}}
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-4" for="emailPerso" style="text-align: left">Email</label>
    <div class="col-sm-8"> 
      {{form_widget(form.emailPerso,{'label':'','id':'emailPerso', 'attr': {'class':'form-control'}})}}
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-4" for="raisonSocial" style="text-align: left">Raison Sociale</label>
    <div class="col-sm-8"> 
      {{form_widget(form.raisonSocial,{'label':'', 'id':'raisonSocial','attr': {'class':'form-control'}})}}
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-4" for="siteWeb" style="text-align: left">Site web</label>
    <div class="col-sm-8"> 
      {{form_widget(form.siteWeb,{'label':'','id':'siteWeb','attr': {'class':'form-control'}})}}
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-4" for="telPro" style="text-align: left">Téléphone</label>
    <div class="col-sm-8"> 
      {{form_widget(form.telPro,{'label':'','id':'telPro','attr': {'class':'form-control'}})}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="emailPro" style="text-align: left">Email</label>
    <div class="col-sm-8"> 
      {{form_widget(form.emailPro,{'label':'','id':'emailPro', 'attr': {'class':'form-control'}})}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="article" style="text-align: left">Ecrivez votre article</label>
   <div class="col-sm-8"> 
      {{form_widget(form.article,{'label':'','id':'article','attr': {'class':'form-control','rows':'12'}})}}
    </div>
  </div> 
   
  <!-- Attribut theme -->
   <div class="form-group">
    <label class="control-label col-sm-4" for="article" style="text-align: left"> Rattachez votre article au thème souhaité</label>
     <div class="col-sm-8"> 
              
             
              
    <div class="radio">
 
      <label class="radio-inline" style="width: 50%">
        {{form_widget(form.theme[4])}} Auto-Moto
      </label> 
      <label class="radio-inline" >{{form_widget(form.theme[5])}} Animaux
      </label><br>
      <label  class="radio-inline" style="width: 50%">{{form_widget(form.theme[6])}} Bien-être
      </label>
      <label class="radio-inline" >  {{form_widget(form.theme[7])}} Business
      </label><br>
      <label class="radio-inline" style="width: 50%">{{form_widget(form.theme[10])}} Ecologie</label>
      <label class="radio-inline" >{{form_widget(form.theme[11])}} Emploi</label><br>

      <label class="radio-inline" style="width: 50%">{{form_widget(form.theme[12])}} Evènementiel
      </label>
      <label class="radio-inline" >{{form_widget(form.theme[13])}} Finance</label><br>

      <label class="radio-inline" style="width: 50%">{{form_widget(form.theme[14])}} Immobilier
      </label> 
      <label class="radio-inline">{{form_widget(form.theme[15])}} Maison</label ><br>
      <label class="radio-inline" style="width: 50%">{{form_widget(form.theme[16])}} Santé
      </label>
      <label class="radio-inline">{{form_widget(form.theme[17])}} Voyage</label >


   </div>  

              
                      
      </div>
  </div>
 <!-- fin theme-->

 
  <div class="form-group"> 
    <div class="col-md-10"></div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-default" style="background-color:yellow">Envoyer</button>
    </div>
  </div>
   {{form_end(form)}} 
       <!-- fin formulaire -->   

 	    </div>
 	
 	</div>
 </div>      
  

  {% endblock %}
 {% block javascripts %}
<script src="{{asset('ckeditor/ckeditor.js')}}"></script>
<script>
        CKEDITOR.replace( 'businessmag_magbundle_publierarticle[article]' );
    </script>
  {% endblock %}